div{
    height: 200px;
    width: 260px;
    background-image: url("ChatGPT\ Image\ Aug\ 22\,\ 2026\,\ 12_02_57\ PM.png");
    background-size: cover;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: blue;
    z-index: -1;
}